<footer class="footer1 container " *ngIf="showFooter">
  <div class="ui container">
    <!-- <div class="ui grid stackable">
      <div class="four wide column footerMenu">
        <ul class="p-0 m-0">
          <li class="mb-15">
            <a href="/verticals/profile-registry/">
              {{resourceService.frmelmnts?.lnk?.footerDikshaVerticals}}
            </a>
          </li>
          <li class="mb-15">
            <a href="/help/getting-started/explore-diksha/index.html">
              {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
            </a>
          </li>
          <li class="mb-15">
            <a href="/partners/">
              {{resourceService.frmelmnts?.lnk?.footerPartners}}
            </a>
          </li>
        </ul>
      </div>
      <div class="four wide column center aligned playStore">
        <label class="d-block mb-10">{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}</label>
        <a class="d-block" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
          <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService.frmelmnts?.lnk?.footerDIKSHAForMobile}}">
        </a>
      </div>
      <div class="four wide column contantDetails">
        <label class="d-block mb-10">
          {{resourceService.frmelmnts?.lnk?.footerContact}} 
        </label>
        <a class="d-block mb-30" href="mailto:diksha-support@ncte-India.org">
          diksha-support@ncte-india.org
        </a>
        <label class="d-block">
          <a href="/term-of-use.html">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a>
          <span>| &copy; {{date | date:'yyyy'}}, DIKSHA</span>
        </label>
      </div>
    </div> -->
   <div class="">
      <div class="row pt-2 pb-2">
          <div class="col-lg-3 col-sm-12 col-md-4 text-pp-crt  mt-15 ">
            <div class="row">
              <div _ngcontent-c3="" class="ft-1 font" role="banner">
                  <p><a href="https://societalplatform.org/code-of-sharing/" style="font-family: 'Muli', sans-serif;" class="">Societal Platform Code of Sharing</a></p>
                  <p><a href="https://twitter.com/SocietalPlatfrm" target="_blank" style="font-family: 'Muli', sans-serif;"  class="footer__link footer__link--twitter"><i class="fa fa-twitter"></i> Follow us on Twitter</a></p>
                </div>
            </div>
          </div>
          <div class="col-lg-6 pr-2 col-md-5 col-sm-12 text-pp-crt-rg  mt-15" style="padding:0 1em;">
            <div class="row font" style="font-family: 'Muli', sans-serif;">
                <p>Copyright © 2018 EkStep Foundation. All content here is licensed under a&nbsp;<a title=" Creative Commons Attribution-NoDerivatives 4.0 International License" href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank" rel="noopener">Creative Commons Attribution-NoDerivatives 4.0 International License</a>&nbsp;unless otherwise noted.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 text-pp mt-15">
            <div class="row r">
                <h5 class="footer__title" style="font-family: 'Muli', sans-serif;">Contact Us</h5> 
            </div>
            <div class="row">
              <div>
                  <p class="footer__right__content" style="font-family: 'Muli', sans-serif;">Ekstep Foundation <br>
                    Quorum, No. 85, 7th Cross, 4th Block<br>
                    Koramangala, Bangalore - 560034<br>
                    Karnataka, INDIA</p>
              </div>
              <div>
                  <a href="mailto:info@societalplatform.org" style="font-family: 'Muli', sans-serif;" target="_blank" class="footer__link">info@societalplatform.org</a>
              </div>
              <!-- <div class="col-1">
                <i class="fa fa-google-plus link"></i>
              </div> -->
            </div>
          </div>
        </div>
   </div>
  </div>
</footer>