@import "~bootstrap/dist/css/bootstrap.min.css";
.ft-copyright {
    background-color: white;
    border-top: 1px solid white;
    display: flex;
}
footer{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #e4e4e4

}
.changePadding {
    padding-top : 0rem !important;
}
.text-pp-crt,
	.text-pp-crt-rg {
		color: #585858;
    }
    .developer {
		text-align: center;
    }
    
    .footer1{
        background-color:white;
        /* padding: 4.57rem 0; */
        font-size: 14px;
        padding-top: 3rem;
    }
.font{
font-size: 12px;
font-family: 'Muli', sans-serif;
}
.font1{
font-size: 12px;
font-family: 'Muli', sans-serif;
}
.logo{
    font-size: 27px;
}
.text-pp{
    font-size: 16px;
    color: #585858;
}
.image{
    height: 44px !important;
}
.text{
    font-family:'Muli' !important; 
    color: black;
  }
hr{
    border: none !important;
    border-left: 1px solid gray !important;
    height: 3rem !important;
    width: 1px !important;
}
.link {
    cursor: pointer;
}
.footer__title {
    font-family: "Muli",serif;
    color: #707070;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2em;
}
.footer__link:hover:hover, .footer a:hover:hover {
    color: #7ebde4;
}
.footer__link--twitter, .footer a--twitter {
    display: block;
    margin-top: 20px;
}
a:hover, a:active {
    outline: 0;
}
.ft-1 a {
    text-decoration: none;
    font-size:1.3em;
    color: #707070 !important;
    cursor: pointer;
}
.footer__right__content {
    color: #bababa;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.53846em;
}

