@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

i.fas.fa-database.fa-lg {
  padding: 0.6em 0em;
  font-size: 2em;
}
  .thick-green-border {
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    height: 63px;
    margin-left: 1rem; 
    background: white;
    width: fit-content; 
  }

  .smaller-image {
    width: 21px;
    padding-top: 12px;
  }
.card-text{
  height: 70px;
  min-height: 42px;
  text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
 .card-img-top{
background-color: #585858;
  background-repeat: no-repeat;
   width: 100%; height: 20vh;
   background-position: 11% 75%;
 }
 .card-img-overlay {
   height: fit-content;
 }
 #style {
   border-radius: 50%;
    background: gainsboro;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px 2px;
 }
 #stylefav {
  border-radius: 50%;
  background: gainsboro;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 2px;
  margin-top: -32px;
 }
 #pub {
   background-color:gainsboro;
   border-radius: 4rem;

 }
 .card {
   height: 45vh;
   cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Muli', sans-serif;
 }
 .col-sm-8 {
   height: fit-content;
 }
 #badge {
   background-color: #a7aae5;
      border-radius: 4rem;

 }
 .ui.mini.modal {
   height: fit-content !important;
 }
 
 #styletick {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 30px;
 }
 i.fas.fa-database.fa-lg {
  padding: 1em 0.1em;
  text-align: center;
  font-size: 1.6em;
}
 .badgedisplay {
  width: 58px;
  position: absolute;
  height: 59px;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-position: -18px -739px;
  /* background-size: 100%; */
  /* border-radius: 50%; */
  background-origin: 0;
}
.sprite {
  width: 63px;
  height:63px;
  position: relative;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-origin: 0;
}

.badgesprite{
  width: 63px;
  height:63px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-origin: 0;
}
.knowledgeimg {
  background-position: -12px -491px !important;
}
.hardwareimg {
  background-position: -12px -610px;
}
.processimg {
  background-position: -12px -430px;
}
.dataimg {
  background-position: -12px -610px;
}
.softwareimg {
  background-position: -14px -368px;
}
.badgeimg{
  background-position: -12px 900px;
}
.card-title {
  text-transform: capitalize !important;
  min-height: 35px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  line-clamp: 3;
  line-height: 1.5rem;
  /* autoprefixer: off */

-webkit-box-orient: vertical;

/* autoprefixer: on */
  
}
.cardsdist{
  margin:1.2em;
}
.card-text1{
  min-height: 46px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  font-weight: 600;
  font-size: 15px;
  color: #686F7A;
  margin-bottom: 18px;
  line-clamp: 2;
  line-height: 2rem;

  /* autoprefixer: off */

-webkit-box-orient: vertical;

/* autoprefixer: on */
  
}