@import "~bootstrap/dist/css/bootstrap.min.css";
 .h1{
   font-family: Arial Regular;
   font-size: 39px;
   color:#373737;
 }
 .h4{
  font-family: Arial  Regular;
  font-size: 28px;
  color:#373737;
}
.p{
  font-family: Arial Regular;
  font-size: 16px;
  color:#373737;
}
.p1{
  font-family: Arial Regular;
  font-size: 18px;
  color:#373737;
}
.link {
  cursor: pointer;
}
.head{
  font-family: Arial Regular;
  font-size: 26px;
}
.cimage{
  /* background-image: url('../../../../../assets/images/slide-04.png'); */
  background-size: cover;
  background-repeat: no-repeat;
}
.fa{
  color: slategray;
}
.alert-success {
  width: fit-content !important;
    margin-left: 7rem !important;
}
.ico-success{
color:black !important;
background-color: blue !important;
}