@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

h4 {
    font-size: 40px;
    color: #636363;
}

.container {
    width: 950px !important;
    font-family: 'Muli', sans-serif;
}

.btn-sec {
 background-color: #a8abe3 !important;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-family: "Muli",sans-serif;
  font-size: 15px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: none;
  cursor: pointer;
}
.btn-outline :hover{
    background-color:  #a8abe3 !important;
    border-color:  #a8abe3 !important;
    color: white
}
.btn-outline {
    color: #a8abe3;
    border-color: #a8abe3;
    padding: 9px 30px;
    border-color:  #a8abe3 !important;
  border-radius: 5px;
  height: 40px;
  font-family: "Muli",sans-serif;
  font-size: 15px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: none;
  cursor: pointer;
}
