
<div class="app-landing-page" *ngIf="!this.userService.loggedIn">
        <ngb-carousel >
                <ng-template ngbSlide>
                        <div class="thumbnail text-center">
                            <div class="img-fluid"></div>
                                <!-- <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class="img-fluid"> -->
                                <div class="caption">
                                    <div class="container">
                                        <!-- <p class="fa">Welcome to 
                                            </p> -->
                                        <p class="fax"> Welcome to Societal Platform Assets Collaboration Environment</p>
                                        <p class="text"> It is an open and collaborative place to search, discover and share assets. An asset can be a piece of knowledge, a process or workflow, a software, a hardware and a set of data. 
                                            </p>
                                        <br> <button class="ui explore btn btn-purple button flex-as-center mr-20" tabindex="0"
                                            routerLink="/explore">
                                            Explore the Assets
                                        </button>
                                    </div>
                                </div> 
                            </div> 
                </ng-template>
                
                <ng-template ngbSlide>
                    <div class="thumbnail text-center">
                            <div class="img-fluid"></div>

                                <!-- <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class="img-fluid"> -->
                                <div class="caption">
                                    <div class="container">
                                        <!-- <p class="fa">Welcome to</p> -->
                                        <p class="fax2">Explore Thinking</p>
                                        <p class="text"> Societal Platform Thinking is a new way to resolve large scale, complex societal challenges at scale, with speed and sustainably. It brings Samaaj, Sarkaar and Bazaar together to collaborate and innovate leveraging the technology.
                                            </p>
                                        <br> <a target="_blank" class="ui explore btn btn-purple button flex-as-center mr-20" tabindex="0"
                                            href="https://societalplatform.org/">
                                            Explore the Thinking
                                        </a>
                                    </div>
                                </div> 
                            </div>
                </ng-template>
               
                <ng-template ngbSlide>
                        <div class="thumbnail text-center ">
                                <!-- <div class="img-fluid"></div> -->

                                <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class="img-fluid">
                                <div class="caption">
                                    <div class="container">
                                        <!-- <p class="fa">Welcome to</p> -->
                                        <p class="fax2">Core Values</p>
                                        <p class="text"> The foundation of Societal Platform Thinking rests on the underlying core values. The ten core values act as the North Star of the Thinking.</p>
                                        <br> <button class="ui explore btn btn-purple button flex-as-center mr-20" tabindex="0"
                                            routerLink="/core">
                                            Explore the Core Values
                                        </button>
                                    </div>
                                </div>
                            </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="thumbnail text-center">
                            <div class="img-fluid"></div>

                                <!-- <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class="img-fluid"> -->
                                <div class="caption">
                                    <div class="container">
                                        <!-- <p class="fa">Welcome to</p> -->
                                        <p class="fax">Framework</p>
                                        <p class="text"> How can we practice Societal Platform Thinking to resolve large scale societal challenges? What is the next step forward in this journey? The Societal Platform Framework acts as a guide in the journey of Societal Platform by asking important questions and ushering towards the next steps.
                                            </p>
                                        <br> <button class="ui explore btn btn-purple button flex-as-center mr-20" tabindex="0"
                                            routerLink="/framework">
                                            Explore the Framework
                                        </button>
                                    </div>
                                </div>
                            </div>
                        
            </ng-template>
              </ngb-carousel>
</div>


<div *ngIf="this.userService.loggedIn">
    <div class="item active">
        <div class="thumbnail text-center" *ngFor="let role of userRole">
                <!-- <div class="img-fluid"></div> -->

            <!-- <img src="../../.../../../../../assets/images/banner_bg.jpg" alt="" class="img-fluid"> -->
            <div class="caption-1" >
                    <div class="container">
                        <p class="fa-1 pt-lg-4"> Welcome to Societal Platform SPace!</p>
                        <p class="text-1">
                            Societal Platform Asset Collaboration Environment
                        </p><br>
                        <div *ngIf="role === 'CONTENT_CREATOR'">
                                <p class="text-c" >
                                        As a Content Creator, you can use the SPace to accomplish the following:</p>
                                <p class="text-c" >
                                        - Search and Discover Assets: You can discover assets - Knowledge, Process, Software, Hardware, Data - that you would like to leverage for your Mission. Go to Shared Assets.
                                    
                                </p>
                                <p class="text-c">
                                        - Add an Asset: You can add information about an asset that you'd like to share with others in the ecosystem. You can also edit, delete and publish your assets. Go to My Assets.
                                </p>
                        </div>
                       <div  *ngIf="role === 'TEACHER_BADGE_ISSUER'">
                            <p class="text-c">
                                    As a Badge Issuer, you can use the SPace to accomplish the following:</p>
                            <p class="text-c">
                                    - Search, Discover and Badge Assets: You can discover assets - Knowledge, Process, Software, Hardware, Data - that you would like to Badge. Go to Shared Assets.
                                
                            </p>
                       </div>
                       <div  *ngIf="role === 'ORG_ADMIN'">
                                <p class="text-c">
                                        As a Organization Admin, you can use the SPace to accomplish the following:</p>
                                <p class="text-c">
                                        - Search and Discover Assets: You can discover assets - Knowledge, Process, Software, Hardware, Data - that you would like to leverage for your Mission. Go to Shared Assets.
                                 
                                </p>
                                <p class="text-c">
                                        - Add User: You can add users and assign required roles to a specific user. Go to Add User.
                                </p>
                        </div>
        </div>
    </div>

</div>