@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

i.fas.fa-database.fa-lg {
  padding: 0.6em 0em;
  font-size: 2em;
}
  .thick-green-border {
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    height: 63px;
    margin-left: 1rem; 
    background: white;
    width: fit-content; 
  }

  .smaller-image {
    width: 21px;
    padding-top: 12px;
  }
  .card-text, .card-text1, .card-title{
    min-height: 46px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Muli', sans-serif;

    /* autoprefixer: off */

-webkit-box-orient: vertical;

/* autoprefixer: on */

  }
//   .card-text1{
//     min-height: 46px;
//     text-overflow: ellipsis;
//     white-space: normal;
//     overflow: hidden;
//     display: -webkit-box !important;
//     -webkit-line-clamp: 2;
//     font-weight: 600;
//     font-size: 15px;
//     color: white;
//     margin-bottom: 10px;
//     /* autoprefixer: off */

// -webkit-box-orient: vertical;

// /* autoprefixer: on */
//   }
  
 .card-img-top{
background-color: #585858;
  background-repeat: no-repeat;
   width: 100%; height: 20vh;
   background-position: 11% 75%;
 }
 .card-img-overlay {
   height: fit-content;
 }
 .details {
  display: block;
  height: 112px;
 }
 .card {
   height: 50vh;
   width: 355.5px;
   cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Muli', sans-serif;
 }
 .col-sm-8 {
   height: fit-content;
 }
 #badge {
   background-color: #a7aae5;
      border-radius: 4rem;

 }
 .ui.mini.modal {
   height: fit-content !important;
 }
 
 #styletick {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 30px;
 }
 i.fas.fa-database.fa-lg {
  padding: 1em 0.1em;
  text-align: center;
  font-size: 1.6em;
}
 .badgedisplay {
  width: 58px;
  position: absolute;
  height: 59px;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-position: -18px -739px;
  /* background-size: 100%; */
  /* border-radius: 50%; */
  background-origin: 0;
}
.sprite {
  width: 63px;
  height:63px;
  position: relative;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-origin: 0;
}

.badgesprite{
  width: 63px;
  height:63px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/Sprite-image.png');
  background-origin: 0;
}
.knowledgeimg {
  background-position: -12px -491px !important;
}
.hardwareimg {
  background-position: -12px -610px;
}
.processimg {
  background-position: -12px -430px;
}
.dataimg {
  background-position: -12px -610px;
}
.softwareimg {
  background-position: -12px -368px;
}
.badgeimg{
  background-position: -12px 900px;
}

.card-title {
  text-transform: capitalize !important;
}

.cardsdist{
  margin:1.2em;
}

.creator {
  display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: #686F7A;
    padding-bottom: 6px;
}
@media screen and (min-width:312px ) and (max-width:760px){
  .card {
   width: 281.5px;
  }
  // #res-title {
  //   margin-top: -6rem;
  //   margin-left: 6rem;
  
  // }
  // #res-para {
  //   margin-top: -1rem !important;
  //   margin-left: 6rem;
  // }
}
@media screen and (min-width: 761px ) and (max-width:980px){ 
  .card {
  width: 311.5px;
left : 1rem
  }

 }
 @media screen and (min-height:450px ) and (max-height:500px) {
  #res-title {
    margin-top: -1rem;
    margin-left: 0rem;
  }
  #res-para {
    margin-top: -1rem !important;
    margin-left: 0rem;
  }
  .card {
    height: 69vh;
    left: 1rem;
  }
 }
 @media screen and (min-height: 501px) and (max-height:700px) {
   .card {
     height: 53vh;
     left: 1rem;
   }
   #res-title {
    margin-top: -1rem;
    margin-left: 0rem;
  }
  #res-para {
    margin-top: -1rem !important;
    margin-left: 0rem;
  }
 }