
input {
    border: 1px solid gray !important;
    background: grey !important;
    color: white !important
}

.treepicker-parent input {
    background: #707070 !important;
}

#treePicker {
    border-radius: 4px;
  color: white !important;
    cursor: pointer !important;
}
