@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';



.popup-content{
    width: 850px !important;
   }
   .ui.dropdown:not(.button)>.default.text {
    display: none;
     }
    .ui.inline.dropdown.search-dropdown {
     margin-left: 5px;
     box-sizing: border-box;
     }
     .btn {
         height: 3rem;
     }

     .pad  {
         padding-top: 3.3rem;
     }
     .btn-light {
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        border: 1px solid rgba(34,36,38,.15);
        border-radius: .28571429rem
     }
     